@use "../utilities/variables";

footer {
  margin-top: 2rem;
  font-size: small;
  color: gray;
  background-color: rgb(43, 48, 53);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;

  a {
    text-decoration: none;
    color: gray;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }

  img {
    width: 8rem;
  }

  .legal-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    @media (max-width: variables.$desktop-width) {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  .social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .img-social {
      width: 1.5rem;
    }
  }
}
