@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: navy;
}

h2 {
  color: navy;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}
